.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.input {
  border-radius: 5px;
}

.button {
  border-radius: 5px;
  background-color: #f3eeee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  box-shadow: 0 0 1px 1px rgb(134, 169, 180);
  padding: 5px;
  color: black;
  margin-top: 20px;
}

.button:hover {
  box-shadow: inset 0 0 1px 1px rgb(134, 169, 180);
  cursor: pointer;
  background-color: #f3eeee;
}
